.footer {
	padding: 140px 0px 0px 0px;
	&__top {
		background-color: rgb(8, 8, 8);
		padding: 50px 0;
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		justify-content: center;
	}

	&__bottom {
		background-color: rgb(8, 8, 8);
		padding: 25px 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__privacy a {
		line-height: 171%;
		color: #e1cb30;
	}

	&__author {}

	&__author a {
		color: #46AE00;
	}
	&__author a:hover {
		color: #3b9300;
	}
	&__author a:active {
		color: #e1cb30;
	}
}

.social {
	&__item:not(:last-child) {
		margin: 0px 20px 0px 0px;
	}
}

/* ---При уменьшении экрана FOOTER--- */
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}

	.footer__privacy a {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}