@keyframes anime {
      0% {
            color: #66ff00;
      }
      33% {
            color: #e1cb30;
      }
      66% {
            color: #eb4036;
      }
      100% {
            
            color: #66ff00;
      }
}

.header {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 20;
      background-color: transparent;
      &__container {
            display: flex;
            padding: 0px 15px;
            align-items: center;
            justify-content: space-between;
            min-height: 104px;
      }
	&__logo {
            font-size: 24px;
            font-family: "Press Start 2P";
            font-weight: 400;
            color: #66ff00;
	}
      &__logo span {
            animation: anime infinite 4s linear;
      }
}

.menu {   
      &__icon {
            display: none;
      }
      &__list  > li {
            position: relative;
            margin: 0px 0px 0px 20px;
      }
      &__link {
            line-height: calc(24 / 14 * 100%);
            color: #66ff00;
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;
      }
      &__link:hover {
            color: #409f01;
      }
}
.link-button {
      border: 1px solid rgba(70, 174, 0, 0.5);
      padding: 5px 15px;
      border-radius: 4px;
      background-color: rgba(80, 144, 12, 0.1);
      transition: all 0.3s ease 0s;
}

.link-button:hover {
      box-shadow: 0 4px 6px rgba(113, 255, 88, 0.25);
}

.link-account {
      color: #e1cb30;
      text-transform: none;
      font-size: 18px;
}

.link-account:hover {
      color: #b4a426;
}

body._touch .menu__link {
      flex: 1 1 auto;
}

.menu__body._active {
      left: 0;
}

@media (min-width: 767px) {
      .menu__list {
            display: flex;
            align-items: center;
      }
      .menu_list > li {
            padding: 10px 0;
      }
}

@media (max-width: 767px) {
      .menu {
            &__icon {
                  display: block;
                  position: relative;
                  width: 30px;
                  height: 18px;
                  z-index: 5;
                  cursor: pointer;
            }
            &__body {
                  position: fixed;
                  top: 0;
                  left: 100%;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.92);
                  padding: 120px 30px 30px 30px;
                  transition: left 0.3s ease 0s;
                  overflow: auto;
                  text-align: center;
            }
            &__link  {
                  font-size: 24px;
            }
      }
      .menu__body::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            z-index: 2;
      }     
      .menu__icon span,
      .menu__icon::before,
      .menu__icon::after {
            background-color: #66ff00;
            position: absolute;
            width: 100%;
            height: 10%;
            left: 0;
            transition: all 0.3s ease 0s;
      }
      .menu__icon::before,
      .menu__icon::after {
            content: '';
      }
      .menu__icon::before {
            top: 0;
      }
      .menu__icon::after {
            bottom: 0;
      }
      .menu__icon span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
      }
      .menu__icon._active span {
            transform: scale(0) translate(0px, -50%);
      }
      .menu__icon._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
      }
      .menu__icon._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
      }
      .menu__list > li {
            flex-wrap: wrap;
            margin: 0px 0px 30px 0px;
      }
      
      .menu__list > li:last-child {
            margin-bottom: 0px;
      }
}