.photo {
    padding: 30px 0px 60px 0px;
}

.slider {
    position: relative;
    &__body {
        overflow: hidden;
    } 
    &__items {
        display: flex;
        transition: transform 0.5s ease;
    }
    &__item {
        display: flex;
        flex: 0 0 100%;
        max-height: 100%;
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 420px;
        max-width: 60%;
        // background: url('/img/icons/placeholder.svg') center / 50px no-repeat;
    }
    &__info {
        max-width: 40%;
        margin-left: 45px;
        padding-top: 46px;
    }
    &__header {
        margin-bottom: 18px;
    }
    &__title {
        line-height: 142%;
        font-weight: 400;
        color: #46AE00;
        font-size: 24px;
        text-transform: uppercase;
        text-align: left;
        
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 2;
        text-align: left;
    }
}

.slider__image span {
    
}

.slider_disable-transition {
    transition: none;
}

.slider__item img {
    max-width: 100%;
}

/* кнопки влево и вправо */
.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 50px;
    color: #fff;
    text-align: center;
    background-color: rgba(80, 144, 12, 0.1);
    transform: translateY(-50%);
}

.slider__control_hide {
    display: none;
}

.slider__control[data-slide="prev"] {
    left: -45px;
}

.slider__control[data-slide="next"] {
    right: -45px;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(80, 144, 12, 0.3);
    outline: 0;
}

.slider__control::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control[data-slide="prev"]::before {
    background-image: url(/img/photo/icons/left.svg);
}

.slider__control[data-slide="next"]::before {
    background-image: url(/img/photo/icons/right.svg);
}

/* индикаторы */
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-right: 15%;
    margin-bottom: 0;
    margin-left: 15%;
    padding-left: 0;
    list-style: none;
}

.slider__indicators li {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(80, 144, 12, 0.2);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
}

.slider__indicators li.active {
    background-color: rgba(80, 144, 12, 0.4);
}

@media (max-width: 1150px) {
    .photo__wrapper {
        max-width: 956px;
        margin: 0 auto;
    }
}

@media (max-width: 1060px) {
    .photo__wrapper {
        max-width: 906px;
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    .slider {
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 16px;
        }
        &__header {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 855px) {
    .photo__wrapper {
        max-width: 520px;
        margin: 0 auto;
    }
    .slider {
        &__item {
            display: block;
        }
        &__image {
            max-width: 485px;
            margin: 0 auto;
            max-height: 420px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 7rem;
        }
        &__info {
            max-width: 485px;
            margin: 0 auto;
            padding-top: 0;
        }
        &__title {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }
        &__text {
            text-align: center;
        }
    }
    
}

@media (max-width: 640px) {
    .slider__control {
        display: none;
    }
}